/* iit CSS File */

* {
    text-decoration: none
}

body {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    float: none;
    position: relative;
    bottom: 0;
}

.logo {
    margin: 0 20px 0 0;
}

.header-right {
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: left;
    float: none;
    position: relative;
    bottom: 0;
}

#header {
    position: relative;
    width: 760px;
    margin: 0 auto;
    color: #eee;
    background-color: lightblue;
    padding: 0;
}

h1 {
    position: relative;
    top: 20px;
    text-align: right;
    margin: 20px 30px 0 0;
    font-family: Palatino, Times New Roman, Times, serif;
    font-variant: small-caps;
    color: black;
}

#menu {
    width: 100%;
    margin: 0.5em 0 0 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 0.5em 0 0;
    color: lightblue;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#menu li.selected {
    color: #333;
    background-color: white;
    border-bottom: 1px solid white;
}

#menu a {
    display: block;
    padding: 4px 20px;
    text-decoration: none;
}

#bodyBlock {
    width: 700px;
    margin: 0 auto;
    padding: 10px 30px 30px 30px;
    color: black;
    background-color: white;
    border-bottom: 2px solid #888;
}

.messages,
#jsMessages {
    clear: both;
    background-color: #ffd;
    color: #333;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
}

#jsMessages {
    display: none;
}

#updateMessage {
    text-align: right;
    margin: 0.5em 0;
    padding: 0.5em;
}

fieldset {
    clear: both;
    margin: 0;
    padding-top: 1em;
    border: 1px solid #333;
}

.field {
    width: 131px;
    margin: 0 0.5em 0.5em 0;
    float: left;
    clear: left;
    text-align: right;
}

.value {
    margin: 0 0 0.5em 0;
}

textarea {
    width: 384px;
    background-color: #eee;
    color: black;
}

input {
    background-color: #eee;
    color: black;
}

input:focus,
textarea:focus {
    background-color: #eed;
    color: black;
}

#save {
    float: right;
}

#save1 {
    float: right;
}

h3 {
    margin: 1em 0 0 0;
    background-color: black;
    color: #eee;
    padding: 2px 4px;
}

h4 {
    margin: 0;
    padding: 0;
}

table {
    margin: 0;
}

th {
    text-align: left;
    padding-right: 1em;
}

td {
    padding-right: 1em;
}

.boxedContent {
    margin: 0;
    padding: 1em;
    border: 1px solid #333;
}

#footer {
    text-align: center;
    margin: 1em 0 0 0;
    color: #666;
    background-color: transparent;
}

#spendingTable {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #333;
}

#spendingTable th {
    background-color: lightblue;
    padding: 2px 4px;
}

#spendingTable td {
    padding: 2px 4px;
}

#spendingTable tr.odd td {
    background-color: lightblue;
    color: black;
}

#incomeTable {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #333;
}

#incomeTable th {
    background-color: lightblue;
    padding: 2px 4px;
}

#incomeTable td {
    padding: 2px 4px;
}

#incomeTable tr.odd td {
    background-color: lightblue;
    color: black;
}

.clear {
    cursor: pointer;
}

.clearIncome {
    cursor: pointer;
}