*{
    text-decoration: none;
    background: lightblue;

}
h1{
    font-family: Georgia,serif;
    margin: 20px 0 0 16px;
    font-size: 220%;
    text-align: center;
}
body{
    margin:0;
    padding:0;
    border:0;
}
/* h2{

} */
#slogan{
    text-align: center;
    font-size: 115%;
    font-family: Georgia, serif;
    background: lightblue;
}
footer{
    text-align: center;
    bottom: 0;
}
.container{
   float: center;
   text-align: center;
   background: white;
}
#login{
    background: white;
    text-align: center;
}
h2, label, input, button, b{
    background: white;
}
.Transaction_Feed h3{
    color: red;
}
#Reference{
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    position: relative;
    bottom: 0;
}
/* h3{
    
} */
.Transaction_Feed h2{
    color: blue;
    background: lightblue;
}
label{
    font-family: Georgia, serif;
}
